@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Roboto:400,700');
@import 'variables';
@import 'helpers';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
    background: black;
    color: white;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    margin-left: 10px;
    margin-right: 10px;

    font-family: $font-family-roboto;
    font-size: .875rem;
    line-height: 1.25rem;
}

a {
    color: #6F6F6F;
    text-decoration: none;

    span {
        display: inline-block;
        margin-left: .625rem;
        border-bottom: 2px solid $color-inactive;
    }

} // End a

.btn {
    display: inline-block;
    height: 1.875rem;
    padding: 0 1rem;
    margin: 0;

    font-size: .6875rem;
    text-align: center;
    color: $color-active;

    outline: 0;
    border: 2px solid $color-active;
    background: white;

} // End .btn

.screen-container {
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.screen {
    width: 100%;
    max-width: 385px;
}

@import 'screen-search';
@import 'screen-loading';
@import 'screen-result';
@import 'screen-error';
