@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);@import url(https://fonts.googleapis.com/css?family=Fira+Mono|Roboto:400,700);.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::-moz-selection {
  background: black;
  color: white;
}

::selection {
  background: black;
  color: white;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  font-size: .875rem;
  line-height: 1.25rem;
}

a {
  color: #6F6F6F;
  text-decoration: none;
}

a span {
  display: inline-block;
  margin-left: .625rem;
  border-bottom: 2px solid #E2E2E2;
}

.screen-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.screen {
  width: 100%;
  max-width: 385px;
}

.search-screen.hidden {
  display: none;
}

.search-screen form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.search-screen form input[type=text] {
  display: block;
  width: 100%;
  height: 1.875rem;
  padding: 0 .3125rem;
  margin: 0;
  font-family: "Fira Mono", monospace;
  font-size: .75rem;
  outline: 0;
  border: 0;
  border-top: 1px solid transparent;
  border-bottom: 2px solid #E2E2E2;
}

.search-screen form input[type=text]:focus {
  border-bottom-color: black;
}

.search-screen form input[type=text].has-error {
  border-bottom-color: #AA0000;
}

.search-screen form input[type=text]::-webkit-input-placeholder {
  color: #E2E2E2;
}

.search-screen form input[type=text]:-ms-input-placeholder {
  color: #E2E2E2;
}

.search-screen form input[type=text]::placeholder {
  color: #E2E2E2;
}

.search-screen form button {
  display: block;
  width: 100%;
  height: 1.875rem;
  padding: 0;
  margin: 0;
  color: black;
  outline: 0;
  border: 2px solid black;
  background: white;
}

.search-screen form button[disabled] {
  color: #E2E2E2;
  border-color: #E2E2E2;
}

.search-screen form .left {
  width: 60%;
}

.search-screen form .right {
  width: 25%;
}

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  background: white;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.loading-screen.hidden {
  opacity: 0;
}

.loading-screen .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  margin-top: -1px;
}

.result-screen .result-line {
  margin-bottom: 0.5rem;
  font-weight: bold;
  line-height: 1;
}

.result-screen .result-line .result {
  margin-left: 1rem;
  font-size: 4rem;
  font-weight: normal;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.result-screen .details-btn {
  display: none;
  margin-top: 0.5rem;
}

.result-screen .details {
  overflow: hidden;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

.result-screen .details table {
  width: 100%;
  font-family: "Fira Mono", monospace;
  font-size: 0.75rem;
  border-spacing: 0;
  border-collapse: collapse;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.result-screen .details table tr th,
.result-screen .details table tr td {
  padding: 0.75rem 0;
}

.result-screen .details table tr th {
  min-width: 4rem;
  font-size: .875rem;
  text-align: left;
  border-bottom: 2px solid black;
}

.result-screen .details table tr td span {
  display: block;
}

.result-screen .details .wrapper {
  padding: 2rem 0;
}

.result-screen.details-hidden .details {
  max-height: 0;
}

.result-screen.details-hidden .details table {
  opacity: 0;
}

.result-screen.details-hidden .details-btn.show {
  display: block;
}

.result-screen.details-visible .details {
  max-height: 300px;
}

.result-screen.details-visible .details table {
  opacity: 1;
}

.result-screen.details-visible .details-btn.hide {
  display: block;
}

.result-screen.details-visible .result {
  font-size: 1.5rem;
}

